
<main class="container">
  <% if user_signed_in? %>
    <div class="header">
      <h1>Favoris</h1>
    </div>
    <% @favorites.each_slice(2) do |slice| %>
      <div class="wrap">
        <% slice.each do |favorite| %>
          <%= render "port", port: favorite.port %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="header">
    <h1>Ports</h1>
  </div>
  <div data-controller="refresh-list">
    <%= form_with url: root_path, method: :get, html: { data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
          value: params[:query],
          class: "form__input form__input-search",
          placeholder: "Rechercher...",
          data: {
            refresh_list_target: 'searchInput',
            action: "keyup->refresh-list#update"
          }
      %>
    <% end %>
    <div data-refresh-list-target="list">
      <%= render @ports %>
    </div>
  </div>
</main>
