<% if notice %>
  <div class="alert alert__info" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert__warning" role="alert">
    <%= alert %>
  </div>
<% end %>
