<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_with url: root_path, method: :get do |f| %>
  <%= f.text_field :query, placeholder: "Rechercher...", value: params[:query] %>
<% end %>

<ul>
  <% @ports.each do |port| %>
    <li><%= link_to port.name, tide_path(port) %></li>
  <% end %>
</ul>
