.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.red {
  color: red;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid #ddd;

  th, td {
    text-align: left;
    padding: 4px 16px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }
}
