// Mixins
@import "mixins/media";

// Configuration
@import "config/variables";
@import "config/reset";

// Components
@import "components/alert";
@import "components/avatar";
@import "components/badge";
@import "components/btn";
@import "components/error_message";
@import "components/form";
@import "components/navbar";
@import "components/visually_hidden";
@import "components/tip_tap";
@import "components/table";
@import "components/tag";
@import "components/tutorial";
@import "components/select";

// Layouts
@import "layouts/container";
@import "layouts/header";

.CodeRay {
  border: none !important;
  border-radius: var(--border-radius);
  padding: var(--space-m);

  .string {
    background-color: transparent !important;
  }
}
